{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<section>
    <p>
        Добро пожаловать в нашу уютную кондитерскую, где каждый десерт создается с любовью и вниманием к деталям!
        Мы верим, что сладости могут сделать любой день ярче и слаще, поэтому стараемся превратить каждый визит к нам в маленькое путешествие в мир вкусов и ароматов.
    </p>
    <img src="cake.jpg" alt="Сладости">
</section>
<section>
    <p>
        Наша команда профессионалов вдохновляется не только традиционными рецептами, но и новыми трендами, чтобы предложить вам самые разнообразные и вкусные десерты. Мы используем только самые качественные ингредиенты, чтобы каждый кусочек наших пирожных, тортов и печенья приносил вам настоящее удовольствие.
        И, конечно же, мы не можем не упомянуть наших пушистых помощников — котиков! Они всегда рядом, чтобы поднять настроение и добавить уюта в нашу кондитерскую. Их мягкие лапки и мурлыканье делают каждый день еще более сладким.
    </p>
    <img src="cat.jpg" alt="Котики">
</section>

    

    Приходите к нам, чтобы насладиться не только вкусными десертами, но и теплой атмосферой, где каждый гость чувствует себя как дома.


{% endblock %}
