
body {
    font-family: 'Pacifico', cursive;
    background-color: #FFE5E5; /* Нежно-розовый */
    color: #333;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
    color: #FF6666
}
/* отступы, чтобы содержимое не попадало по краям */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* ширина элементов ввода формы, так как по умолчанию они имеют ширину 100% */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}






/* Стили для навигационной панели */

.navbar {
    min-height: 80px; /* Уменьшаем высоту навигационной панели */
}

.navbar-brand {
    padding: 0; /* Убираем внутренние отступы */
    height: 80px; /* Высота блока с логотипом */
    display: flex;
    align-items: center; 
}

    .navbar-brand img {
        height: auto; /* Сохраняем пропорции логотипа */
        max-height: 60px; /* Уменьшаем высоту логотипа, сохраняя пропорции */
        display: inline-block; /* Убедимся, что изображение отображается корректно */
    }

.navbar-nav > li > a {
    padding-top: 40px; /* Уменьшаем отступы сверху для ссылок */
    padding-bottom: 10px; /* Уменьшаем отступы для ссылок */
}
/*картинки в полезных ссылках*/
.resource-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .resource-link img {
        width: 50px; /* Уменьшаем размер картинок */
        height: auto;
        margin-right: 10px;
    }

    .resource-link span {
        font-size: 16px;
    }

.custom-img {
    width: 300px; /* Фиксированная ширина */
    height: auto; /* Автоматическая высота */
    display: block;
    margin: 10px 0;
}
